sudo: false
language: python

jobs:
  include:

    - python: "3.6"

    # Python 2 requires a special handling:
    - python: "2.7"
      env: TOXENV=py2

    # Documentation is build on readthedocs but it's nicer to let
    # Travis report when it breaks:
    - stage: doc
      python: "3.6"
      os: linux
      before_install:
        - pip install --quiet tox
        - tox -e doc --notest
      script:
        - tox -e doc -- -W
      after_success: skip

env:
  global:
    # Use the Python version specified by Travis inside tox:
    - TOXENV=py

    # Tell PyCall.jl to use python executable in virtualenv:
    - PYTHON=python

before_install:
  - pip install --quiet tox coveralls
  - tox --notest

  # Install Julia:
  - wget -O julia.tar.gz https://julialang-s3.julialang.org/bin/linux/x64/1.0/julia-1.0.0-linux-x86_64.tar.gz
  - tar xf julia.tar.gz
  - ln -T -s julia-*/ julia

script:
  - export PATH="${PWD}/julia/bin:${PATH}"
  - tox -- --cov=ipyjulia_hacks

after_success:
  - .tox/py*/bin/coverage combine .coverage
  - coveralls

notifications:
  email: false
